# Ignore model checkpoints
notebooks/finbert_results/checkpoint-*/
!notebooks/finbert_results/checkpoint-latest/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
